html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather", serif;
}

h1 {
    margin-bottom: 1.2rem;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}
p {
    margin-bottom: 2rem;
    line-height: 1.7rem;
}

footer {
    flex-shrink: 0;
    background-color: var(--white);
}

footer p {
    padding: 1rem 2rem 1rem 1rem;
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 0;
}


.font-merriweather {
    font-family: "Merriweather", serif;
}



.col{
	margin-bottom: 120px;
}

#intro{
	margin-top: 200px;
	margin-bottom: 200px;
}

@media only screen and (min-width: 700px) {
#intro{
	margin-top: 50px;
	margin-bottom: 50px;
}
}


/* ------------------------------------------------------------------------ */


.card__image{
	min-width: 100%;
	height: auto;
}

/* first image */
.card__images img:nth-child(1){
	top: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	transition: all 1s ease;
}
.card__images.reveal img:nth-child(1){
	opacity: 0;
}

/* second image - the one that gets revealed */
.card__images.reveal img:nth-child(2){
	opacity: 0;
}

.card__images.reveal img:nth-child(2){
	opacity: 1;
}

